html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}


#legend {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 0.5rem;
  padding: 0 1em;
}

#legend h2 {
  line-height: 1rem;
  font-size: 1em;
  margin: 1em 0 1em;
  padding: 0;
}

#legend #colormap {
  width: 100%;
  height: 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
  background: linear-gradient(to right,
           #0088FF,
           #FF0088);
}

#legend #labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
}

#legend #labels div {
  margin: 0.5em 0;
}