.MetacityGLContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.RenderingAreaContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.CanvasContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.MetacityGLSidebar {
    min-width: 20rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size: 1em;
    color: #fff;
    overflow: auto;
    position: absolute;
    scrollbar-color: #333 #555;
    scrollbar-width: 0.5rem;
    bottom: 1rem;
    right: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.MetacityGLSidebar.invert {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
}

.MetacityGLSidebar::-webkit-scrollbar {
    width: 0.5rem;
}

.MetacityGLSidebar::-webkit-scrollbar-track {
    background: #333;
}

.MetacityGLSidebar::-webkit-scrollbar-thumb {
    background-color: #555;
}


/* timeline */
.timelineControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    background: #222;
    border-top: 1px solid #444;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #333;
    height: 1rem;
}

input[type="range"]::-moz-range-track {
    background-color: #333;
    height: 1rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /*custom styles*/
    background-color: #AAA;
    height: 1rem;
    width: 1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    /*custom styles*/
    background-color: #AAA;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {}

input[type="range"]:focus::-moz-range-thumb {}


select.speed {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: #222;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 0.8em;
    margin-left: 1rem;
}

.timelabel {
    color: #EEE;
    font-size: 0.8em;
    width: 10rem;
    padding: 0.5rem;
}

.hoverDialog {
    background: #333;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.8em;
    z-index: 10;
    user-select: none;
}

pre {
    padding: 0;
    margin: 0;
}

.metacityLabel {
    color: #888;
    font-size: 0.8em;
    padding: 1rem;
}

.metacityLabel a {
    color: #EEE;
}

.invert .metacityLabel a {
    color: #888;
}

.play {
    color: #FFF;
    margin: 0 0.5rem;
    cursor: pointer;
}

button.appButton {
    background: #555;
    border: #555;
    color: #FFF;
    padding: 0.5rem;
    font-size: 0.8em;
    margin: 0 0 0.5rem;
    cursor: pointer;
}

button.appButton:hover {
    background: #666;
}

#loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    transition: all 0.2s ease;
}

#loadingBalls {
    display: flex;
    flex-direction: row;
    scale: 0.5;
}

.loadingBlob {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background: #FFF;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.invert .loadingBlob {
    background: #000;
}

.loadingBlob.loaded {
    background: #00FF00;
}

.invert .loadingBlob.loaded {
    background: #00FF00;
}

@keyframes bounce {
    0%   { transform:         scale(1,1)      translateY(0);     
           -webkit-transform: scale(1,1)      translateY(0);      }
    15%  { transform:         scale(1.3,.6)   translateY(10px);  
           -webkit-transform: scale(1.3,.6)   translateY(10px);   }
    17%  { transform:         scale(1,1)      translateY(0px);   
           -webkit-transform: scale(1,1)      translateY(0px);    }
    25%  { transform:         scale(.8,1.6)   translateY(-60px); 
           -webkit-transform: scale(.8,1.6)   translateY(-60px);  }
    35%  { transform:         scale(.9,1.1)   translateY(-100px);
           -webkit-transform: scale(.9,1.1)   translateY(-100px); }
    42%  { transform:         scale(1.2,1)    translateY(-90px); 
           -webkit-transform: scale(1.2,1)    translateY(-90px);  }
    56%  { transform:         scale(1,1)      translateY(0);     
           -webkit-transform: scale(1,1)      translateY(0);      }
    58%  { transform:         scale(1.1,.8)   translateY(5px);   
           -webkit-transform: scale(1.1,.8)   translateY(5px);    }
    63%  { transform:         scale(1,1)      translateY(-7px);  
           -webkit-transform: scale(1,1)      translateY(-7px);   }
    68%  { transform:         scale(1,1)      translateY(0);     
           -webkit-transform: scale(1,1)      translateY(0);      }
}

#loadingName {
    font-weight: 400;
    /*border-top: 2px dotted rgba(255, 255, 255, 0.1);*/
    min-width: 100px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.invert #loadingName {
    color: rgba(0, 0, 0, 0.5);
}